{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}<!--agrego el texto con el string que setee en el controlador-->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}