<div class="col-md-4 mx-auto mt-3">
    <div class="card">
        <div class="card-header"> Nueva nota</div>
        <card class="card-body">
            <form action="/notes/nueva_nota" method="POST">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="Titulo" autofocus>
                </div>
                <div class="form-group mt-3">
                    <textarea name="descripcion" class="form-control" placeholder="Descripcion"></textarea>
                </div>
                <div class="d-grid gap-1 mt-3">
                    <button class="btn btn-info" type="submit">Guardar</button>
                </div>
            </form>
        </card>
    </div>
</div>